src/main/gutenprint.xsd

<?xml version="1.0"?>                  <!-- -*- mode: xml -*- -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns="http://gimp-print.sourceforge.net/xsd/gp.xsd-1.0"
targetNamespace="http://gimp-print.sourceforge.net/xsd/gp.xsd-1.0"
elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Schema for Gutenprint XML data
      Requires Gutenprint 5.0 or later
      Based on printers.xml and printdef
      Author: Roger Leigh (rleigh@debian.org)
    </xsd:documentation>
  </xsd:annotation>

  <xsd:element name="gutenprint">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element ref="printdef" minOccurs="0" maxOccurs="unbounded"/>
	<xsd:element ref="paperdef" minOccurs="0" maxOccurs="unbounded"/>
	<xsd:element ref="curve" minOccurs="0" maxOccurs="unbounded"/>
	<xsd:element ref="dither-matrix" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:attributeGroup>
      <xsd:attribute name="" type="normalizedString" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>

  <xsd:element name="printdef">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element ref="family" minOccurs="0"
	maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="family">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element ref="printer" minOccurs="0"
	maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:attributeGroup>
      <xsd:attribute name="xmlns" type="normalizedString" use="required"/>
      <xsd:attribute name="xmlns:xsi" type="normalizedString" use="required"/>
      <xsd:attribute name="xsi:schemaLocation" type="normalizedString" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="printer">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element ref="color" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="model" minOccurs="1" maxOccurs="1"/>
	<xsd:element ref="black" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="cyan" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="magenta" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="yellow" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="brightness" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="gamma" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="density" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="saturation" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="blackdensity" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="cyandensity" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="magentadensity" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="yellowdensity" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="gcrlower" minOccurs="0" maxOccurs="1"/>
	<xsd:element ref="gcrupper" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:attributeGroup>
      <xsd:attribute name="name" type="normalizedString" use="required"/>
      <xsd:attribute name="driver" type="token" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="color">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="boolean" default="false"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="model">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="positiveInteger" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="black">
    <xsd:attributeGroup ref="colorattrs" use="required"/>
  </xsd:element>
  <xsd:element name="cyan">
    <xsd:attributeGroup ref="colorattrs" use="required"/>
  </xsd:element>
  <xsd:element name="magenta">
    <xsd:attributeGroup ref="colorattrs" use="required"/>
  </xsd:element>
  <xsd:element name="yellow">
    <xsd:attributeGroup ref="colorattrs" use="required"/>
  </xsd:element>
  <xsd:element name="brightness">
    <xsd:attributeGroup ref="brightnessattrs" use="required"/>
  </xsd:element>
  <xsd:element name="contrast">
    <xsd:attributeGroup ref="colorattrs" use="required"/>
  </xsd:element>
  <xsd:element name="gamma">
    <xsd:attributeGroup ref="gammaattrs" use="required"/>
  </xsd:element>
  <xsd:element name="density">
    <xsd:attributeGroup ref="densityattrs" use="required"/>
  </xsd:element>
  <xsd:element name="saturation">
    <xsd:attributeGroup ref="saturationattrs" use="required"/>
  </xsd:element>
  <xsd:element name="blackdensity">
    <xsd:attributeGroup ref="densityattrs" use="required"/>
  </xsd:element>
  <xsd:element name="cyandensity">
    <xsd:attributeGroup ref="densityattrs" use="required"/>
  </xsd:element>
  <xsd:element name="magentadensity">
    <xsd:attributeGroup ref="densityattrs" use="required"/>
  </xsd:element>
  <xsd:element name="yellowdensity">
    <xsd:attributeGroup ref="densityattrs" use="required"/>
  </xsd:element>
  <xsd:element name="gcrlower">
    <xsd:attributeGroup ref="gcrlowerattrs" use="required"/>
  </xsd:element>
  <xsd:element name="gcrupper">
    <xsd:attributeGroup ref="gcrupperattrs" use="required"/>
  </xsd:element>
  <xsd:element name="paperdef">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element ref="paper" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="paper">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element name="description" minOccurs="1" maxOccurs="1"/>
	<xsd:element name="comment" minOccurs="1" maxOccurs="1"/>
	<xsd:element name="width" minOccurs="1" maxOccurs="1"/>
	<xsd:element name="height" minOccurs="1" maxOccurs="1"/>
	<xsd:element name="unit" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:attributeGroup>
      <xsd:attribute name="name" type="normalizedString"
	use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="description">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="normalizedString"
	use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="comment">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="normalizedString"
	use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="width">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="positiveInteger" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="height">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="positiveInteger" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="left">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="positiveInteger" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="right">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="positiveInteger" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="bottom">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="positiveInteger" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="top">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="positiveInteger" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>
  <xsd:element name="unit">
    <xsd:attributeGroup>
      <xsd:attribute name="value" type="normalizedString"
	use="required"/>
    </xsd:attributeGroup>
  </xsd:element>

  <xsd:attributeGroup name="colorattrs">
    <xsd:attribute name="value">
      <xsd:simpleType>
	<xsd:restriction base="xsd:float" default="1.00">
	  <xsd:minInclusive value="0.00"/>
	  <xsd:maxInclusive value="4.00"/>
	</xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="brightnessattrs">
    <xsd:attribute name="value">
      <xsd:simpleType>
	<xsd:restriction base="xsd:float" default="1.00">
	  <xsd:minInclusive value="0.00"/>
	  <xsd:maxInclusive value="2.00"/>
	</xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="densityattrs">
    <xsd:attribute name="value">
      <xsd:simpleType>
	<xsd:restriction base="xsd:float" default="1.00">
	  <xsd:minInclusive value="0.10"/>
	  <xsd:maxInclusive value="2.00"/>
	</xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="gammaattrs">
    <xsd:attribute name="value">
      <xsd:simpleType>
	<xsd:restriction base="xsd:float" default="1.00">
	  <xsd:minInclusive value="0.10"/>
	  <xsd:maxInclusive value="4.00"/>
	</xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="saturationattrs">
    <xsd:attribute name="value">
      <xsd:simpleType>
	<xsd:restriction base="xsd:float" default="1.00">
	  <xsd:minInclusive value="0.00"/>
	  <xsd:maxInclusive value="9.00"/>
	</xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="gcrlowerattrs">
    <xsd:attribute name="value">
      <xsd:simpleType>
	<xsd:restriction base="xsd:float" default="0.2">
	  <xsd:minInclusive value="0.00"/>
	  <xsd:maxInclusive value="1.00"/>
	</xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="gcrupperattrs">
    <xsd:attribute name="value">
      <xsd:simpleType>
	<xsd:restriction base="xsd:float" default="0.5">
	  <xsd:minInclusive value="0.00"/>
	  <xsd:maxInclusive value="5.00"/>
	</xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>


  <xsd:simpleType name="sequencecontent">
    <xsd:list itemType="double"/>
  </xsd:simpleType>

  <xsd:element name="sequence" type="sequencecontent">
    <xsd:annotation>
      <xsd:documentation>
	The "sequence" class stores a list of numbers, based upon the
	stp_sequence_t type.  It has a defined length, and lower and
	upper bounds.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup>
      <xsd:attribute name="count" type="positiveInteger" use="required"/>
      <xsd:attribute name="lower-bound" type="xsd:float" use="required"/>
      <xsd:attribute name="upper-bound" type="xsd:float" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>

  <xsd:element name="curve">
    <xsd:annotation>
      <xsd:documentation>
	The "curve" class stores a complete stp_curve_t curve
	representation.  It is derived from the stp_sequence_t type,
	and contains a sequence element.
      </xsd:documentation>
    </xsd:annotation>
   <xsd:complexType>
      <xsd:sequence>
	<xsd:element ref="sequence" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:attributeGroup>
      <xsd:attribute name="type" use="required">
	<xsd:simpleType>
	  <xsd:restriction type="normalizedString">
	    <xsd:enumeration value="linear"/>
	    <xsd:enumeration value="spline"/>
	  </xsd:restriction>
	</xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="wrap" use="required">
	<xsd:simpleType>
	  <xsd:restriction type="normalizedString">
	    <xsd:enumeration value="nowrap"/>
	    <xsd:enumeration value="wrap"/>
	  </xsd:restriction>
	</xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="gamma" type="xsd:float" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>

  <xsd:element name="array">
    <xsd:annotation>
      <xsd:documentation>
	The "array" class stores a complete stp_array_t array
	representation.  It is derived from the stp_sequence_t type,
	and contains a sequence element.
      </xsd:documentation>
    </xsd:annotation>
   <xsd:complexType>
      <xsd:sequence>
	<xsd:element ref="sequence" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:attributeGroup>
      <xsd:attribute name="x-size" type="positiveInteger" use="required"/>
      <xsd:attribute name="y-size" type="positiveInteger" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>


  <xsd:element name="dither-matrix">
    <xsd:documentation>
      The "dither-matrix" class stores an array representation for use
      as a dither matrix, together with the x and y aspect of the
      matrix.
    </xsd:documentation>
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element ref="array" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:attributeGroup>
      <xsd:attribute name="x-aspect" type="positiveInteger" use="required"/>
      <xsd:attribute name="y-aspect" type="positiveInteger" use="required"/>
    </xsd:attributeGroup>
  </xsd:element>



</xsd:schema>
